{
	"presets": [
		[
			"@babel/env",
			{
				"corejs": 3.6,
				"useBuiltIns": "usage",
				"debug": true,
				"modules": false
			}
		],
		"@babel/react"
	],
	"plugins": [
		"@babel/proposal-class-properties"
	]
}