//
@import "../../styles/variables.scss";
@import "swiper/swiper.scss";
@import "swiper/components/pagination/pagination.scss";

.product-list {
	padding: 0 0 32px;

	&__wrap {
	}

	&__header {
		display: flex;
		justify-content: space-between;
		padding: 0 0 32px;
		width: 100%;
	}

	&__title {
		padding: 0 0 0 32px;
		max-width: 480px;
		font-size: 44px;
		line-height: 44px;
		letter-spacing: -0.02em;
	}

	// &__filters {
	// }

	&__products {
		padding: 0 32px;
	}

	&__filters {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		min-width: 0;
	}

	&__pagination {
		display: none;
		padding: 24px 0;

		.swiper-pagination {
			position: relative;
			margin: 0 auto;

			&-bullet {
				width: 8px;
				height: 8px;
				margin-right: 8px;
				background-color: $color_bullet;
				opacity: 1;

				&-active {
					background-color: $color;
				}
			}
		}
	}

	@media (max-width: 1535px) {
		padding: 0 0 24px;

		&__header {
			flex-direction: column;
			padding: 0 0 24px;
		}

		&__title {
			padding: 0 0 24px 32px;
			font-size: 32px;
			line-height: 32px;
		}
		&__filters {
			justify-content: flex-start;
		}

		&__pagination {
			display: block;
			opacity: 1;
		}
	}

	@media (max-width: 767px) {
		&__title {
			padding: 0 12px 25px;
			max-width: 100%;
			font-size: 24px;
			line-height: 24px;
			letter-spacing: -0.015em;
		}

		&__products {
			padding: 0 12px;
		}

		&__pagination {
			padding: 19px 0;

			.swiper-pagination {
				&-bullet {
					width: 6px;
					height: 6px;
					margin-right: 6px;
				}
			}
		}
	}
}
